<nav class="navbar navbar-expand-lg nav-minimal">
  <div class="container app-container">
    <a class="navbar-brand" href="/">BlogZilla</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item me-2">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <% if (locals.user) { %>
        <li class="nav-item me-2">
          <a class="nav-link" href="/blog/add-new">Add Blog</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <% if (locals.user.userProfileURL) { %>
              <img src="<%= locals.user.userProfileURL %>" alt="avatar" class="avatar-xs me-2" />
            <% } %>
            <span><%= locals.user.fullName %></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/blog/my-blogs/<%= user._id %>">My Blogs</a></li>
            <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
          </ul>
        </li>
        <% } else { %>
        <li class="nav-item me-2">
          <a class="nav-link" href="/user/signin">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-sm btn-accent text-white" href="/user/signup">Sign up</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<% if (locals.error) { %>
  <div class="container app-container">
    <div class="alert alert-danger" role="alert"><%= locals.error %></div>
  </div>
<% } %>
