@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans antialiased text-slate-600 bg-sky-50 transition-colors duration-300 dark:bg-slate-900 dark:text-slate-300;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading text-slate-800 dark:text-white;
  }
}